# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/

# Node
node_modules/
dist/
dist-ssr/
*.local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

# GraamAI specific
backend/.env
frontend/dist/
*.log
